body {
    background-image: url(Wallpaper3.jpeg);
}

h1 {
    background-color: palevioletred;
    color: rgb(247, 247, 129);
    font-size: 300%;
}

#topic {
    font-size: 200%;
    font-weight: bold;
    background-color: white;
    color: palevioletred;
}

#reply1 {
    font-size: 150%;
    background-color: white;
    color: palevioletred;
}

#reply2 {
    font-size: 150%;
    background-color: white;
    color: palevioletred;
}

#message {
    color: palevioletred;
}

button {
    background-color: palevioletred;
    color: rgb(247, 247, 129);
}